/* 
.customDatePickerWidth, 
.customDatePickerWidth > div.react-datepicker-wrapper, 
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container input {
   width: 100%;
} */

.react-datepicker__header{
   background-color: #374150;
   color: white;
}

.react-datepicker__current-month{
   color: white;
}

.react-datepicker__day-names{
   color: white;
}

.react-datepicker__day-name{
   color: white;
}

/* .customDatePickerWidth, 
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth > div > div.react-datepicker__header{
   background-color: #374150;
   color: white;
} */